h1 {
    background-color: purple;
    font-size: 100px;
    color: white;
}

body {
    background-color: #fefefe;
}

h2 {
    color: #1460aa;
    font-size: 30px;
}

.co-to-jest-klasa {
    background-color: turquoise;
    color: purple;
}

#co-to-jest-id {
    background-color: salmon;
}

.mainHeader {
    background-color: purple;
    text-decoration: none;
    color: white;
}

a{color: white;}
a:link {text-decoration: none}
a:visited {text-decoration: none}
a:active {text-decoration: none}
a:hover {text-decoration: underline}

.a {
    color: black;
}

.navLink {
    margin: 0px 10px ;
    background: purple;
}

.lesson{
    font-style: oblique;
    font-size: 20px;
}

.lesson2 {
    color: red;
}

.lesson3 {
    color: orange;
}

.lesson4 {
    color:  yellow;
}

.lesson7 {
    color: navy;
}

.kolumna {
    display: inline-block;
    width: 30%;
    height: 1000px ;
}

.box {
    width: 100px;
    height: 100px;
    background: rgba(0,0,0,0.4);
    padding: 10px ;
}

.inline {
    display: inline;
    width: 100px;
    height: 100px;
    background: rgba(0,0,0,0.4);
    padding: 10px ;
}

.inlineBlock {
    display: inline-block;
}

.overhidden {
    overflow: hidden;
}

.overauto {
    overflow: auto;
}

.okienko {
    width: 800px;
    max-width: 800px;
    height: 800px;
    overflow: hidden;
}

.pasek {
    
    width: 1000px;
    
    background: purple;
}

