body {
    background: purple;
}

.box{
    box-sizing: border-box;
    background: yellow;
    width: 200px;
    height: 200px ;
    margin: 10px (50%-50px);
    text-align: center;
    padding-top: 90px;
}