body {
    background: purple;
}

.box{
    box-sizing: border-box;
    background: yellow;
    width: 200px;
    height: 200px ;
    margin: 10px;
    text-align: center;
    padding: 10px ;
    padding-top: 50px;
}

.static{
    position: static;
}

.relative{
    position: relative;
    left: 50px;
}

.fixed{

}

.absolute{

}

.sticky{

}